html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    background-image:url(./images/pattern-background-mobile.svg);
    width: 95%;
}

main {
    max-width: 450px;
    margin: auto;
    border-radius: 18px;
    overflow: hidden;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}


h1 {
    font-weight: 900;
    font-size: 22px;
    margin: .8em 0 1em 0;
    color: hsl(223, 47%, 23%);
}

p {
    color: hsl(224, 23%, 55%);
    width: 82%;
    margin: auto;
    line-height: 26px;
    padding-bottom: 2em;
    font-weight: 500;
}

#annualplan {
    display: inline-flex;
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    border-radius: 8px;
    padding: 1em;
    z-index: -1;
}

#note {
    padding-right: .5em;
    height: 44px;
    width: 44px;
}

#plan {
    font-weight: 900;
    display: block;
    font-size: 14px;
    margin-left: 1em;
}

#cost {
    color: hsl(224, 23%, 55%);
    opacity: 0.7;
}

#change {
    font-weight: 700;
    margin: .5em 0 0 16em;
    font-size: 13px;
    position: absolute;
    z-index: 0;
    color: #382AE1;
}

button {
    font-weight: 700;
    font-size: 15px;
    background-color: hsl(245, 75%, 52%);
    color: #FFFFFF;
    border: none;
    padding: 1em 4.2em 1em 4.2em;
    margin: 1.5em 1em 1em 1em;
    border-radius: 12px;
    filter:drop-shadow(0 10px 18px hsl(220, 29%, 71%));
}

#cancel {
    color:hsl(224, 23%, 55%);
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: 2em;
}

.attribution {
    display: none;
}

@media only screen and (min-width: 376px){
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    main {
        width: 35%;
        border-radius: 20px;
    }
    h1 {
        font-size: 28px;
        line-height: 37.04px;
        margin: 2em 0 .5em 0;
    }
    p {
        width: 60%;
        line-height: 26px;
    }
    #annualplan {
        width: 354px;
        padding: 1.5em 0 1.5em 0;
        line-height: 21.17px;
    }
    #plan, #cost {
        font-size: 16px;
    }
    #note {
        padding-left: 1em;
    }
    #change:hover {
        cursor: pointer;
    }
    #change {
        margin: .5em 0 0 21em;
    }
    button {
        margin: 2em 1em 1em 1em;
        font-size: 15px;
        width: 354px;
    }
    button:hover {
        background-color: #766CF1;
        cursor: pointer;
    }
    #change:hover {
        cursor: pointer;
        color: #766CF1;
    }
    #cancel {
        padding-bottom: 3em;
    }
}